# Amazon Flex credentials
AMAZON_EMAIL=
AMAZON_PASSWORD=

# Scraper settings
SCRAPE_INTERVAL_MS=30000
TARGET_REGION=

# Flex API test script settings
FLEX_ACCESS_TOKEN=
FLEX_REFRESH_TOKEN=
FLEX_REGION=na
FLEX_SERVICE_AREA_IDS=
